PAGE_URL=http://localhost:3000
DATABASE_URL=postgres://postgres:password@localhost:5434/mymedialist-db

# Better Auth
BETTER_AUTH_DISABLE_REGISTER=true

BETTER_AUTH_SECRET=supersecretkey
BETTER_AUTH_URL=http://localhost:3000

BETTER_AUTH_MIN_PASSWORD=8
BETTER_AUTH_MAX_PASSWORD=128
